* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-container {
    width: 100%;
    background-color: black;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.flex-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.box {
    flex-grow: 1;
    background-color: blanchedalmond;
    height: 75px;
    border-radius: 5px;
}